<nav class="nav-bar">
    <a href="{{ get_url(path='') }}">
        <img id="tenderloin-logo-img" src="/tenderloin-logo.png" alt="Tenderloin Arts Logo"/>
    </a>
    <ul>
    	<li><a href="{{ get_url(path='@/illustrations.md') }}">illustrations</a></li>
    	<li><a href="{{ get_url(path='@/clay.md') }}">clay</a></li>
    	<li><a href="{{ get_url(path='@/projects.md') }}">projects</a></li>
    	<li><a href="mailto:iiintangible@gmail.com">contact</a></li>
    </ul>
    <div class="nav-social-media">
        <a href="https://instagram.com/iiintangiiible" target="_blank">
            <img src="/insta-button.png" height="22">
        </a>
    </div>
</nav>
