{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="gallery">
  {% for asset in page.assets | sort -%}
    {%- if asset is matching("[.](jpg|png)$") -%}
      {% set image = resize_image(path=asset, width=600, height=380) %}
      {% set asset_extract = asset | split(pat='/') | last %}
      {% set asset_link = page.permalink ~ asset_extract %}
      <a href="{{ asset_link | safe }}">
        <img src="{{ image.url }}"/>
      </a>
    {%- endif %}
  {%- endfor %}
</div>
<div class="content">
  {{ page.content | safe }}
</div>
{% endblock content %}
